.segmentNodeLayoutWrapper {
	width: 230;
	height: 70px;
	background: #ffffff;
}

.segmentNodeLayout {
	width: 230px;
	height: 70px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	.content {
		position: absolute;
	}
}
