.processNodeLayoutWrapper {
	width: 200px;
	height: 60px;
}

.processNodeLayout {
	width: 200px;
	height: 60px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid black;
	&::after {
		content: '';
		position: absolute;
		width: 0;
		height: 0;
		right: -36px;
		border-top: 16px solid transparent;
		border-left: 20px solid red;
		border-bottom: 16px solid transparent;
	}
}
